.container-main{
  width: 100%;
  display: flex;
  justify-content: center;
}


.logo{
  height: 80vh;
}

svg{
  height: 80vh;
}


.black{
  fill:#000;
  stroke:#FFFFFF;
  stroke-width:0.5;
  stroke-miterlimit:10;
}
