@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@include mat-core();


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $button:        mat-typography-level(14px, 14px, 400)
);

.ukraine-map-dark-theme {
  @include mat-core($general-typography);
  @include angular-material-theme($dark-theme);
}
